/*
  Name: Isabella Mester
  Date: October 10, 2023
  Description: This is my styles.css page that 
  is intended to demonstrate knowledge of css.
  Styles for the about.html page. 
*/

body {
  text-align: center;
  background-color: #ffe6f2; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #ff3399; 
}


.todo-container {
  width: 400px; 
  margin: 0 auto; 
  background-color: #ffccff; 
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ff3399;
  border-radius: 5px;
}


button {
  background-color: #ff3399; 
  color: #fff;
  border: none;
  padding: 15px 30px; 
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #ff0077; 
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 15px; 
  background-color: #ffccff; 
  border: 2px solid #ff3399; 
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

button.remove-button {
  background-color: #ff0000; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button.remove-button:hover {
  background-color: #cc0000; 
}
